<h1>Application :<%= @application.name %></h1>
  <% @approved_applications.each do |app| %>
    <% if @application.pets.include?(Pet.find(app.pet_id)) %>
      <p>Approved Pets <%= Pet.find(app.pet_id).name %></p>
    <% end%>
  <% end%>

<div class = 'applicant-pets'>
  <% @application.pets.each do |pet| %>
  <% if pet.application_pets[0].status == "Open" %>
      <%= link_to pet.name, "/pets/#{pet.id}" %>
      <%= button_to "Approve Pet", "/admin/applications/#{@application.id}", method: :patch, class: "approve-#{pet.id}", params: {pet_id: pet.id} %>
    <% end %>
  <% end %>
</div>
